/* Navbar */
.sidebar-navigation{
  background-color: #2c2f46ff !important;
}


/* Target the Quarto navbar wrapper */
.quarto-navbar {
  background-color: #2c2f46ff!important;
}
.a {
    color: white;
}

.navbar{
  background-color: #e7edf7ff !important;
  color:  !important;
}

/* Navbar brand (site title/logo) */
.navbar .navbar-brand {
  color: #000000ff !important;
}

/* Navbar links Headers */
.navbar .nav-link {
  color: #000000ff !important;
}
/* Navbar links */
.quarto-search-input {
  color: white !important;
} */

.aa-SubmitIcon {
  color: #ffffff;
  fill: #ffffff;
}

/* Custom callout with teal border + light teal background */
/* ------------------------------------------------------- */
.callout-note {
  border-left: 4px solid #2c2f46ff!important;   /* left border */
}

.callout p {
  margin-bottom: 0.25rem !important;
}


.btn {
  border-radius: 15px;
}

.nav-footer {
    background-color: #1a1e22ff;
    color: white;
    font-size: 24px;
    height: 150px;
}

/* Table of Contents */
#TOC .nav-link.active {
  color: black !important;
  background-color: #e7edf7ff!important;
  border-radius: 4px;
  padding: 2px 6px;
}
/* Table of Contents */
#TOC .nav-link:hover {
  color: black !important;
  background-color: #e7edf7ff !important;
  border-radius: 4px;
  padding: 2px 6px;
}

.popup {
  position: relative;
  display: inline-block;
}

.popup img {
  display: block;
  cursor: pointer;
}

/* start hidden */
.popup .popuptext {
  visibility: hidden;
  opacity: 0;
  width: 220px;
  background-color: #1a1e22ff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  bottom: 125%; /* above image */
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
  z-index: 1;
}

/* hover only when the image is hovered */
.popup:hover .popuptext {
  visibility: visible;
  opacity: 1;
}